@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #12bca2;
  --secondary: #6d15df;
  --card-height: 370px
}


input:disabled {
  background-color: lightgray;
  color: rgb(0, 0, 0);
}


p.card {
  margin-bottom: -5px;
  line-height: 10px;
}

p.card-pelayanan {
  margin-bottom: -5px;
  line-height: 25px;
}

h1 {
  font-size: clamp(1.125rem, 0.8625rem + 0.5833vw, 1.5625rem);
  font-weight: bold;
}

h2 {
  font-size: clamp(1rem, 0.7375rem + 0.5833vw, 1.4375rem);
  font-weight: bold;
}

h3 {
  font-size: clamp(0.875rem, 0.6125rem + 0.5833vw, 1.3125rem);
}

h4 {
  font-size: clamp(0.75rem, 0.4875rem + 0.5833vw, 1.1875rem);
  margin-top: 5px;
  margin-bottom: -1px;
  line-height: 20px;
}

h5 {
  font-size: clamp(0.625rem, 0.3625rem + 0.5833vw, 1.0625rem);
}

body {
  margin: 0;
  color: #333;
  font-family: 'Poppins';
  background: #f2f2f2;
}
nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
  margin: 0;
}
nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}
nav h1 {
  color: #fff;
}
.page {
  padding: 10px;
}

/* smoothie grid */
.laundry-grid {
  
  margin: 20px 0px 0px 0px;
  --grid-layout-gap: clamp(1.2rem, 1rem + 1vw, 1rem);
  --grid-column-count: 4; /* This gets overridden by an inline style. */
  --grid-item--min-width: 150px; /* This gets overridden by an inline style. */
  
  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((75% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
  font-size: clamp(0.625rem, 0.3625rem + 0.5833vw, 1.0625rem);
}

.laundry-card-konsumen {
  height: 100%; /* The height will adjust based on the content */
  width: clamp(1rem, 1rem);
  padding: 10px 10px 10px 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}

.laundry-card-konsumen .rating {
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--secondary);
  color: #fff;
  border-radius: 6px;
  width: auto;
  padding: 15px 15px 15px 15px;
  height: 0;
  line-height: 0px;
  text-align: center;
}


.laundry-card-konsumen .buttons {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 0px;
}

.laundry-card-konsumen i {
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}

.laundry-card-bon {
  margin-top: 10px;
  height: auto; /* The height will adjust based on the content */
  width: clamp(1rem, 1rem);
  padding: 20% 10px 10% 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}

p.bon {
  margin-bottom: 7px;
}

.laundry-card-pelayanan {
  height: 290px; /* The height will adjust based on the content */
  width: clamp(1rem, 1rem);
  height: auto;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}

.progress-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  z-index: +1;
  position: absolute;
  top: -7%;
  left: 14%; /* Pusatkan horizontal */
  transform: translateX(-50%); /* Geser ke kiri sejauh setengah lebar */
  background-color: #12bca2;
  color: #fff;
  border-radius: 15px;
  width: 30%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: flex; /* Gunakan flexbox */
  justify-content: center; /* Pusatkan horizontal dalam flexbox */
}

.progress {
  position: absolute;
  top: -10px;
  left: 27%; /* Pusatkan horizontal */
  transform: translateX(-50%); /* Geser ke kiri sejauh setengah lebar */
  color: #fff;
  border-radius: 6px;
  width: 55%;
  max-height: 1%;
  padding: 20px 0;
  line-height: 10px;
  text-align: center;
  display: flex; /* Gunakan flexbox */
  justify-content: center; /* Pusatkan horizontal dalam flexbox */
}

.laundry-card-bon .progress.belum {
  background: rgb(255, 0, 0); /* Warna latar belakang untuk express */
}

.laundry-card-bon .progress.selesai {
  background: green; /* Warna latar belakang untuk normal */
}

.pembayaran-container {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pembayaran {
  z-index: +1;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  bottom: 5%;
  left: 19%; /* Pusatkan horizontal */
  transform: translateX(-50%); /* Geser ke kiri sejauh setengah lebar */
  background-color: #12bca2;
  color: #fff;
  border-radius: 6px;
  width: auto;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: flex; /* Gunakan flexbox */
  justify-content: center; /* Pusatkan horizontal dalam flexbox */
}

.status-pembayaran {
  position: absolute;
  height: 15%;
  bottom: -5%;
  left: 27%; /* Pusatkan horizontal */
  transform: translateX(-50%); /* Geser ke kiri sejauh setengah lebar */
  background-color: #6d15df;
  color: #fff;
  border-radius: 6px;
  width: 55%;
  padding-top: 15px;
  text-align: center;
  display: flex; /* Gunakan flexbox */
  justify-content: center; /* Pusatkan horizontal dalam flexbox */
}

.laundry-card-bon .rating {
  position: absolute;
  top: -10px;
  right: -10px;
  color: #fff;
  border-radius: 6px;
  width: 35%;
  max-height: 1%;
  padding: 20px 0;
  line-height: 0px;
  text-align: center;
}

.laundry-card-bon .rating.Express {
  background: red; /* Warna latar belakang untuk express */
}

.laundry-card-bon .rating.Normal {
  background: green; /* Warna latar belakang untuk normal */
}

.laundry-card-pelayanan .rating {
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--secondary);
  color: #fff;
  border-radius: 6px;
  width: 35%;
  height: 0;
  padding: 20px 0;
  line-height: 0px;
  text-align: center;
}

.laundry-card-bon .buttons {
  text-align: right;
}

.laundry-card-pelayanan .buttons {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 0px;
}

.laundry-card-bon i {
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}

.laundry-card-pelayanan i {
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;

}
                                                  /* CSS laundry */
                                                   /* TRANSAKSI */

p.transaksi {
  margin: 5% 0 5% 0;
}

.laundry-card-transaksi {
  height: auto; /* The height will adjust based on the content */
  width: clamp(1rem, 1rem);
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  line-height: 15px;
  border-radius: 6px;
  position: relative;
}

.laundry-card-transaksi .rating {
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--secondary);
  color: #fff;
  border-radius: 6px;
  width: auto;
  padding: 15px 15px 15px 15px;
  height: 0;
  line-height: 0px;
  text-align: center;
}

.order-by-transaksi {
  width: clamp(20rem, 1rem + 1vw, 1rem);
  display: flex;
  align-items: center;
}

.order-by-transaksi button {
  margin-right: 5px; /* Add spacing between the buttons */
}

.laundry-card-transaksi .buttons {
  text-align: right;
}

.laundry-card-transaksi i {
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}

/* forms */
form {
  background: #ffffff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}
form input, form textarea {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
}
form button {
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
  margin-bottom: 20px;
}

.form-group {
  margin: 0 0 20px 0;
}

/* order-by buttons */
.order-by button {
  margin-right: 10px;
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
}

/* Button navigate */

.membuat-bon {
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}

.tombol-membuat {
  margin-top: 15px;
}
.membuat-pelayanan {
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}

:root {
  --clamp-size-from-information : 40rem;
}

form.information {
  max-width: clamp(var(--clamp-size-from-information), 1rem + 1vw, 1rem);
  margin: 10px 10px 10px 10px;
  background-color: #12bca2;
  padding: 20px;
  border-radius: 6px;
}

.create-bon-grid {
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  
  --grid-layout-gap: 10px;
  --grid-column-count: 4; /* This gets overridden by an inline style. */
  --grid-item--min-width: 150px; /* This gets overridden by an inline style. */
  
  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((75% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
  font-size: clamp(0.625rem, 0.3625rem + 0.5833vw, 1.0625rem);
  gap: -5px;

}

.create-bon-grid form.create-bon-card {
  line-height: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%; /* Allow the card to expand vertically */
  padding: 10px;
  background-color: #12bca2;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}

.transaksi button {
  margin-top: -5px;
  margin-bottom: 10px;
  height: 35px;
  width: 100%;
  background: #6d15df;
  color: #fff;
  border: 0;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
}

button.submittransaksi {
  margin-top: 10px;
  margin-bottom: 5px;
  height: 35px;
  width: 100%;
  background: #6d15df;
  color: #fff;
  border: 0;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
}

p.create-informasi {
  font-size: clamp(1rem, 0.625rem + 0.8333vw, 1.25rem);
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 30px;
}

p.create-bon {
  font-size: clamp(0.9375rem, 0.4688rem + 1.0417vw, 1.25rem);
  line-height: 0px;
  margin-top: -5px;
}

span.create-bon-fc{
  font-size: clamp(0.9375rem, 0.4688rem + 1.0417vw, 1.25rem);
}
p.create-bon-fc {
  font-size: clamp(0.9375rem, 0.4688rem + 1.0417vw, 1.25rem);
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 30px;
}

.title{
  width: 100%;
  height: clamp(2.5rem, 1rem + 1vw, 1rem);
  padding: 10px;
  background-color: #6d15df;
  color: #ffffff;
}

.custom-select {
  font-size: clamp(0.875rem, 0.3125rem + 1.25vw, 1.25rem);
}