@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #12bca2;
  --secondary: #6d15df;
}


input:disabled {
  background-color: lightgray;
  color: rgb(0, 0, 0);
}


p.card {
  margin-bottom: -5px;
  line-height: 10px;
}

p.order-by{
  margin-top: 30px;
}
h1 {
  font-size: clamp(1.125rem, 0.8625rem + 0.5833vw, 1.5625rem);
}

h2 {
  font-size: clamp(1rem, 0.7375rem + 0.5833vw, 1.4375rem);
}

h3 {
  font-size: clamp(0.875rem, 0.6125rem + 0.5833vw, 1.3125rem);
}

h4 {
  font-size: clamp(0.75rem, 0.4875rem + 0.5833vw, 1.1875rem);
  margin-top: 5px;
  margin-bottom: -1px;
  line-height: 20px;
}

h5 {
  font-size: clamp(0.625rem, 0.3625rem + 0.5833vw, 1.0625rem);
}

body {
  margin: 0;
  color: #333;
  font-family: 'Poppins';
  background: #f2f2f2;
}
nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
  margin: 0;
}
nav a {
  color: #f2f2f2;
  margin: 10px;
  display: inline-block;
}
nav h1 {
  color: #fff;
}
.page {
  max-width: 1200px;
  margin: 10px auto;
  padding: 10px;
}


/* smoothie grid */
.laundry-grid {
  margin-top: 30px;
  
  --grid-layout-gap: 10px;
  --grid-column-count: 4; /* This gets overridden by an inline style. */
  --grid-item--min-width: 150px; /* This gets overridden by an inline style. */
  
  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((75% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
  font-size: clamp(0.625rem, 0.3625rem + 0.5833vw, 1.0625rem);
  gap: 25px;
}
.laundry-card {
  width: 1vp;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}

.laundry-card .rating {
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--secondary);
  color: #fff;
  border-radius: 6px;
  width: 25%;
  height: 0;
  padding: 20px 0;
  line-height: 0px;
  text-align: center;
}
.laundry-card .buttons {
  text-align: right;
  margin-top: 25px;
}
.laundry-card i {
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}

/* forms */
form {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
}
form input, form textarea {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
}
form button {
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
  margin-bottom: 20px;
}

/* order-by buttons */
.order-by button {
  margin-right: 10px;
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
}

/* Button navigate */

.create {
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}

.form-group {
  margin: 0 0 20px 0;
}